@page "/"

<PageTitle>Index</PageTitle>

<div class="row" style="height: 92vh">
    <div class="col">
        <button class="w-100 h-100 btn btn-primary main-btn">
            Ask for help
        </button>
    </div>
    <div class="col">
        <button class="w-100 h-100 btn btn-success main-btn">
            Provide help
        </button>
    </div>
</div>