@page "/ProvideHelpList"
@using Hackathon4Ukraine_Team2_App.Domain
@using Hackathon4Ukraine_Team2_App.DataAccess
@using System.Collections.Generic
@using Microsoft.EntityFrameworkCore

@inject AppDbContext DbContext

<h3 class="mb-4">Provide help</h3>

<table class="table table-hover">
<thead class="table-light">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Description</th>
    </tr>
</thead>
<tbody>
    @{int i = 0;}
    @foreach (var req in _requests)
    {
    <tr>
        <th scope="row">@(++i)</th>
        <td>@req.Name</td>
        <td>@req.Category</td>
        <td>@req.Description</td>
    </tr>
    }
</tbody>
</table>


@code {
    private List<RequestHelp> _requests = new();

    protected override async Task OnInitializedAsync()
    {
        _requests = await DbContext.RequestHelps.ToListAsync();
    }
}
