@page "/ProvideHelpList"
@using Hackathon4Ukraine_Team2_App.Domain
@using Hackathon4Ukraine_Team2_App.DataAccess
@using System.Collections.Generic
@using Microsoft.EntityFrameworkCore

@inject AppDbContext DbContext

<h3>ProvideHelp</h3>
<ul class="list-group">
    @foreach (var req in _requests)
    {
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">@req.Name</h5>
                <small>3 days ago</small>
            </div>
            <p class="mb-1">@req.Description</p>
            <small>@req.Category</small>
        </a>
    }
</ul>




        @code {
    private List<RequestHelp> _requests = new();

        protected override async Task OnInitializedAsync()
        {
    _requests = await DbContext.RequestHelps.ToListAsync();
        }
    }
