@page "/RequestHelp"


<h3>Request</h3>
<form>
  <!-- Name input -->
  <div>
	<label class="form-label" for="form4Example1">Name</label>
  </div>
  <div class="form-outline mb-4">    
    <input type="text" id="form4Example1" class="form-control" />
  </div>
  <br>

  <!-- Email input -->
  <div>
	<label class="form-label" for="form4Example2">Email address</label>
  </div>
  <div class="form-outline mb-4">
	<input type="email" id="form4Example2" class="form-control" />
  </div>
  <br>

  <div>
	<label class="form-label" for="form4Example2">Category</label>
  </div>
<!--  <div class="form-outline mb-4">
	<input type="email" id="form4Example2" class="form-control" />
  </div>-->
  <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Category
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Aid Stuff</a></li>
    <li><a class="dropdown-item" href="#">Transport</a></li>
	<li><a class="dropdown-item" href="#">HealthCare</a></li>
    <li><a class="dropdown-item" href="#">Other</a></li>
  </ul>
</div>
  <br>

  <!-- Description -->
  <div>
	<label class="form-label" for="form4Example3">Description</label>
  </div>
  <div class="form-outline mb-4">   
    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
  </div>
  <br>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
  
  <button type="cancel" class="btn btn-primary btn-block mb-4">Cancel</button>
</form>

@code {

}
